.home__container {
    row-gap: 7rem;

}

.home__content {
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;

}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;

}

.home__social-icon {
    font-size: 1.25rem;
    color: white;

}

.home__social-icon:hover {
    color: var(--title-color-dark);

}


.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}


.home__img{
    background: url(../../assets//mainpc.png);
    background-position: -165px 10px;
    background-size: cover;
    width: 400px;
    height: 300px;
    order: 1;
    justify-self: center;
}